@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


:root{
    --light-blue:#1B72E8;
    --main-bg:#F8F9FA;
    --sidebar-width: 150px;
    --navbar-height: 70px;
    --input-tex-bgcolor:#E5E5E5;
    --sidebar-bgcolor:#051E34;
}

ul,
ol,
menu,
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

.viewport{
    height: 100vh;
}

.header{
    height: var(--navbar-height);
}

.nav-search{
    background-color: #E5E5E5;
}

input[type="text"], textarea{
    background-color: transparent;
}

.link-nav-container{
    width: fit-content;
    margin: 0 auto;
}

.main-header{
    height: 125px;
}

.main-content{
    background-color: var(--main-bg);
}

.logo-container{
    width: 170px;
}

.my-nav-list>li:not(.dropdown){
    display: flex;
}

.dropdown{
    color: orangered;
}

.logo{
    min-width: 150px;
    display: block;
}

.logo-small{
    width: 33px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    display: none;
}

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    object-fit: cover;
    object-position: center;
    background-color: var(--sidebar-bgcolor);
    width: 150px;
    height: 100%;
}

.sidebar .row{
    margin: 0 auto;
}

.sidebar-menu>.sidebar-item,
.settings-col>div{
    font-size: 16px;
    width: max-content;margin: 0 auto;
}

.list-item-info-label{
    gap: 50px;
}

.list-group-item{
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
}

.list-group-item span{
    font-weight: 700;
    font-size: 13px;
}

.avatar{
    width: 30px;
}


                    /* MEDIAQUERY */

                    @media screen and (max-width: 991.98px){
                        .logo-container{
                            width: 85px;
                        }

                        .logo{
                            display: none;
                        }

                        .logo-small{
                            display: block;
                            width: 60px;
                        }

                        .my-nav-list>li:not(.dropdown){
                            display: none;
                        }

                        .anchor-label{
                            display: none;
                        }

                        .sidebar{
                            width: 85px;
                        }
                    }











/* DEBUG */

.vertical--split{
    border: 2px solid red;
    /* height: calc(100vh - 150px); */
}

.main-header{
    border: 2px solid purple;
}

.right-side{
    height: 50px;
    border: 2px solid red;
}

.main-container .col-8{

    /* border: 2px solid green; */
}

/* .header{
    border: 2px solid sandybrown;
} */

.horizontal--split>.main-horizontal{
    border: 2px solid green;
    /* flex-grow: 1   */
}

/* .horizontal--split>.sidebar{
    border: 2px solid purple;
    width: 170px;
} */

/* .main-header{
    border: 2px solid blue;
    height: 40px;
}

.main-content{
    border: 2px solid purple;
    flex-grow: 1;
} */



